* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

#hero-section {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e90ff;
  padding: 0 29px;
}

.hero-