* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  color: white;
  background-color: rgb(3, 27, 71);

}

header img {
  width: 50px;
}

.nav-link {
  display: flex;
  list-style: none;
  gap: 10px;

}

.nav-link a {
  color: white;
  text-decoration: none;
  font-size: 16px;

}

header button {
  padding: 8px 16px;
  border: none;
  background-color: #1e90ff;
  color: white;
  cursor: pointer;
}

/* hero section */
#hero-section {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e90ff;
  padding: 40px;
  color: white;
  flex-wrap: wrap;
}

.hero-container {
  max-width: 500px;
}

.hero-container h1 {
  font-size: 36px;
}

.hero-container h2 {
  font-size: 24px;
  margin: 10px 0;
}

.hero-container p {

  margin: 15px 0;
}



#hero-section button {
  padding: 10px 20px;
  color: white;
  background-color: aqua;
  border: none;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

#hero-section img {
  width: 280px;

}

#about-me {
  background-color: #f4f6f8;
  text-align: center;
}

#about-me h2 {
  font-size: 32px;
  margin-bottom: 20px;

}

#about-me p {
  max-width: 700px;
  margin: 10px auto;
  line-height: 1.6;
  color: #333;
}

section {
  padding: 60px 40px;
}

#skills {
  text-align: center;
}

#skills h2 {
  font-size: 32px;
  margin-bottom: 30px;

}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.skill-card {
  background-color: white;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}


#projects {
  background-color: #f4f6f8;
  text-align: center;
}


#projects h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.projects-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.project-card {
  background-color: white;
  width: 280px;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.project-card h3 {
  margin: 15px 0 10px;
}

.project-card p {
  padding: 0 15px 20px;
  color: #555;
}

#contact {
  text-align: center;

}

#contact h2 {
  margin-bottom: 20px;
}


footer {
  text-align: center;
  padding: 15px;
  background-color: #031b47;
  color: white;
}